# Site settings
title: Damien Burke
email: damien@damienburke.com
url: http://damienburke.com # the base hostname & protocol for your site
twitter_username: exmember
github_username: exmember
permalink: /:title
logo: /images/about-me/actor.jpg


# Build settings
markdown: kramdown
timezone: America/Los_Angeles
remote_theme: 18F/uswds-jekyll
future: false
plugins:
  - jekyll-feed

exclude:
  - bin
  - Gemfile
  - Gemfile.lock
  - node_modules
  - Rakefile
  - tmp
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

defaults:
  -
    scope:
      path: ""
      type: posts
    values:
      layout: page
  -
    scope:
      path: ""
      type: pages
    values:
      layout: page
  -
    scope:
      path: ""
      type: drafts
    values:
      layout: page
