// min-height 100vh breaks the header menu
// so don't do it when the header menu is shown
@include at-media($theme-header-min-width) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
}

.usa-social-link--github {
  background-image: url('../../images/social-icons/png/github32.png');
  background-repeat: no-repeat;
}

.usa-social-link--linkedin {
  background-image: url('../../images/social-icons/png/linkedin32.png');
  background-repeat: no-repeat;
}
